footer {
  padding: 24px 0 calc(24px + env(safe-area-inset-bottom));
  border-top: 1px solid var(--gb);
  text-align: center;
  position: relative;
  z-index: 1;

  p {
    font-size: 11px;
    color: var(--ts);
    font-family: var(--m);
    letter-spacing: 0.5px;
  }
}
